<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% block content %}
   <div class="pure-g" style="width: 70%; margin: 0 auto;">
        <h2>Features</h2>
    </div>
    <div class="pure-u-1-2">
        <ul>
            <li>ajam</li>
            <li>ajam</li>
            <li>ajam</li>
            <li>ajam</li>
            <li>ajam</li>
        </ul>
    </div>
     <div class="pure-u-1-2">
        <ul>
            <li>ajam</li>
            <li>ajam</li>
            <li>ajam</li>
            <li>ajam</li>
            <li>ajam</li>
        </ul>
    </div>

{% endblock content %}

</body>
</html>